
.container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  
}
  
.dashBoard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  padding: 24px;
  color: white;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  max-width: calc(4 * 220px + 4 * 24px); /* 4 kart ve 3 boşluk kadar */
  margin: 0 auto;
  color: white;
}