.container {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.topContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #181818; /* Arka planı koru */
}



.scrollableArea {
  flex: 1;
  overflow-y: auto;
}


  
  
  
  
  .dashBoard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 24px;
  }

  
  

  