.sidebar {
  background-color: #181818;
  color: white;
  height: 93vh;
  width: 240px;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: 0;
}

.open {
  width: 240px;
}

.closed {
  width: 50px;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  height: 50px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: opacity 0.3s ease;
  margin-left: 1rem;
}

.closed .logoContainer {
  opacity: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #ff7b00;
}

.subtext {
  font-size: 13px;
  color: #aaa;
  margin-top: 4px;
}

.toggleBtn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 0.5rem;
  transition: background 0.2s;
}

.nav a:hover {
  background-color: #2c2c2c;
}

.icon {
  font-size: 18px;
  color: #ff7b00;
}

.iconWrapper {
  position: relative;
}

.linkText {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  transition: width 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
}

.show {
  width: auto;
  opacity: 1;
  margin-left: 8px;
}

.hide {
  width: 0;
  opacity: 0;
  margin-left: 0;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 0.5rem;
  transition: background 0.2s;
}

.dropdownToggle:hover {
  background-color: #2c2c2c;
  
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 6px;
  margin-top: 4px;
}

.dropdownMenu a {
  font-size: 0.9rem;
  color: #bbb;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 0.5rem;
  transition: background 0.2s;
}

.dropdownMenu a:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.chevron {
  margin-left: auto;
  font-size: 12px;
}

.activeMenu {
  border-radius: 1rem;
}

.activeSubMenu {
  color: white;
}
