/* Sayfa Karartan Alan */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.568);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Kutusu */
.modal {
  background-color: #181818;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #dfdfdf;
  max-height: 90vh;
  max-width: 90vw;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Modal İçerik Alanı */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes spinAndScale {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(180deg);
  } 
  100% {
    transform: scale(1.2) rotate(180deg);
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.crossIcon {
  transition: transform 0.3s ease;
}

.closeButton:hover {
  animation: spinAndScale 0.6s ease forwards;
}


